In [9]:
import objectpath

In [2]:
import json

with open('test.json') as json_file:
    data = json.load(json_file)

In [3]:
data

{'store': {'book': [{'category': 'reference',
    'author': 'Nigel Rees',
    'title': 'Sayings of the Century',
    'price': 8.95},
   {'category': 'fiction',
    'author': 'Evelyn Waugh',
    'title': 'Sword of Honour',
    'price': 12.99},
   {'category': 'fiction',
    'author': 'Herman Melville',
    'title': 'Moby Dick',
    'isbn': '0-553-21311-3',
    'price': 8.99},
   {'category': 'fiction',
    'author': 'J. R. R. Tolkien',
    'title': 'The Lord of the Rings',
    'isbn': '0-395-19395-8',
    'price': 22.99}]}}

In [10]:
tree = objectpath.Tree(data)
result = tree.execute("$.store.book")
result

[{'category': 'reference',
  'author': 'Nigel Rees',
  'title': 'Sayings of the Century',
  'price': 8.95},
 {'category': 'fiction',
  'author': 'Evelyn Waugh',
  'title': 'Sword of Honour',
  'price': 12.99},
 {'category': 'fiction',
  'author': 'Herman Melville',
  'title': 'Moby Dick',
  'isbn': '0-553-21311-3',
  'price': 8.99},
 {'category': 'fiction',
  'author': 'J. R. R. Tolkien',
  'title': 'The Lord of the Rings',
  'isbn': '0-395-19395-8',
  'price': 22.99}]

In [11]:
objectpath.Tree(data).execute("$.store.book")

[{'category': 'reference',
  'author': 'Nigel Rees',
  'title': 'Sayings of the Century',
  'price': 8.95},
 {'category': 'fiction',
  'author': 'Evelyn Waugh',
  'title': 'Sword of Honour',
  'price': 12.99},
 {'category': 'fiction',
  'author': 'Herman Melville',
  'title': 'Moby Dick',
  'isbn': '0-553-21311-3',
  'price': 8.99},
 {'category': 'fiction',
  'author': 'J. R. R. Tolkien',
  'title': 'The Lord of the Rings',
  'isbn': '0-395-19395-8',
  'price': 22.99}]

# Filter

In [61]:
result=objectpath.Tree(data).execute("$.store.book[@.price > 8.99].(price, isbn)")

In [62]:
type(result)

generator

In [63]:
pd.DataFrame(result)

   price           isbn
0  12.99            NaN
1  22.99  0-395-19395-8

In [52]:
for each in result:
    print(each)

In [53]:
pd.DataFrame(result)

Empty DataFrame
Columns: []
Index: []

# Every

In [72]:
result=objectpath.Tree(data).execute("$..price[@ > int(9.99)]")

In [73]:
pd.DataFrame(result)

       0
0  12.99
1  22.99

In [41]:
for each in result:
    print(each)

8.95
12.99
8.99
22.99

In [42]:
type(result)

itertools.chain

Empty DataFrame
Columns: []
Index: []

In [ ]:
result=objectpath.Tree(data).execute("$..price[@ > int(9.99)]")